* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    padding: 20px;
    background-color: #ce1b1b;
    color: #ffffff;
    border-bottom: 3px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500vh;
    justify-content: right;
    font-size: 20px;
}

li {
    position: relative;
    text-decoration: none;
    margin: 10px;
}

h1 {
    display: inline-block;
    font-size: 48px;
}