* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    width: 100%;
    min-height: 100vh;
}

header {
    padding: 20px;
    background-color: #ce1b1b !important;
    color: #ffffff;
    border-bottom: 3px solid black;
}



ul {
    display: flex;
    list-style-type: none;
    width: 500vh;
    justify-content: right;
    font-size: 20px;
}

li {
    position: relative;
    text-decoration: none;
    margin: 10px;
}

a {
    color: white;
    cursor: pointer;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 80px 75px;
}

#cat-fact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}

#dog-fact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}

img {
    padding: 0 50px 0;
    width: 400px;
    border-radius: 100px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.submit-btn {
    width: 18vh;
    height: 18vh;
    margin: 25px 200px;
    color: white;
    border-radius: 300px;
    background-color:#ce1b1b;
    margin: 30px 150px 90px 300px;
    border: 2px solid lightgray;
    font-size: 1.55rem;
    font-weight: 900;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: black;
    box-shadow: 5px 5px 20px rgb(192, 192, 192)
}

button {
    width: 340px;
    height: 200px;
    color: white;
    border-radius: 350px;
    background-color:#ce1b1b;
    margin: 30px 150px 90px 300px;
    border: 2px solid lightgray;
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
  
}

button:hover {
    background-color: black;
    box-shadow: 5px 5px 20px rgb(192, 192, 192)
}

hr {
    width: 96%;
    margin: auto;
    border: 2px solid black;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#results:after {
    display: block;
}

footer {
    Padding: 40px;
    background-color: black;
    color: white;
    text-align: left;
    border-top: 2px solid #ce1b1b;
}

@media screen and (max-width: 980px) {
    nav {
        align-items: flex-start;
        display: inline-block;
    }
}

@media screen and (max-width: 1000px) {
    ul {
        margin: 0;
    }

    nav { 
        display: flex;
        flex-direction: column-reverse;
    }
}
