* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   /* flex-wrap: wrap; */
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px 40px;
    background-color: #ce1b1b !important;
    color: #ffffff;
    border-bottom: 3px solid black;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500vh;
    justify-content: right;
    font-size: 20px;
    flex-wrap: wrap;
}

li {
    position: relative;
    text-decoration: none;
    margin: 10px;
    flex-wrap: wrap;
}

a {
    color: white;
    cursor: pointer;
    flex-wrap: wrap;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-style: bold;
    font-size: 65px;
    padding: 50px 50px;
    flex-wrap: wrap;
}

#cat-fact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px auto;
    font-size: 30px;
    font-weight: 100;
}

#dog-fact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    font-size: 30px;
    font-weight: 100;
}

#colors {
    display: inline;
}

img {
    padding: 0 50px 0;
    width: 400px;
    border-radius: 100px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    flex-direction: column;
}

.submit-btn {
    width: 18vh;
    height: 18vh;
    margin: 80px 100px 0 100px;
    color: white;
    border-radius: 300px;
    background-color:#ce1b1b;
    border: 2px solid lightgray;
    font-size: 1.75rem;
    font-weight: 900;
    cursor: pointer;
    flex-wrap: wrap;
}

.submit-btn:hover {
    background-color: black;
    box-shadow: 5px 5px 20px black;
}


button {
    width: 400px;
    height: 200px;
    margin: 30px;
    color: white;
    background-color:#ce1b1b;
    border: 2px solid lightgray;
    border-radius: 350px;
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
}

button:hover {
    background-color: black;
    box-shadow: 5px 5px 20px black;
}

hr {
    width: 96%;
    margin: auto;
    border: 2px solid black;
}


#results {
    background-color:#ce1b1b;
    font-size: 28px;
    width: 18%;
    color: white;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 10px;
    margin: 40px auto;
    box-shadow: 2px 2px 2px black;
    text-align-last: justify;
    text-transform: uppercase;
}


footer {
    Padding: 30px;
    background-color: black;
    color: white;
    text-align: left;
    border-top: 2px solid #ce1b1b;
}

nav {
    background-color: #ce1b1b;
    flex-wrap: wrap;
}
.compare {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-vote {
    display: flex;
justify-content: center;
    align-items: center;
}

.cat-vote {
    display: flex;
justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    body {
        flex-wrap: wrap;
    }
}
